<div class="container-fluid login-bg">
    <div class="col-md-8 col-md-offset-2">
        <div class="row login-header text-center blackroom">
            <h1>Blackroom</h1>
        </div>

        <div class="row">
            <form name="signupForm" class="form-horizontal blackroom-light" role="form">

                <div class="form-group">
                    <label class="col-md-3 control-label no-padding-right" for="name">Nome</label>
                    <div class="col-md-7">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="nome completo" ng-model="signup.name" />
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label no-padding-right" for="email">Email</label>
                    <div class="col-md-7">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="endereço de email válido" name="email" ng-model="signup.email" focus/>
                            <span ng-show="signupForm.email.$error.email" class="help-inline">Email inválido</span> 
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label no-padding-right" for="password">Senha</label>
                    <div class="col-md-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" name = "password" placeholder="senha com no mínimo 6 caracteres" ng-model="signup.password" required/>
                            <small class="errorMessage" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">Digite sua senha.</small>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label no-padding-right" for="password2">Confirme sua senha</label>
                    <div class="col-md-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" name="password2" placeholder="confirme sua senha" ng-model="signup.password2" password-match="signup.password" required/>                                
                            <small class="errorMessage" ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required">Digite sua senha novamente.</small>
                            <small class="errorMessage" ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required">Ops... as senhas não combinam</small>

                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-7 col-md-offset-3">
                        <button type="submit" class="btn btn-blackroom" ng-click="signUp(signup)" ng-disabled="signupForm.$invalid">Entrar no Blackroom!</button>
                        
                        <p>Já tem a sua conta? <a href="#/login">Entre aqui!</a></p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
