<section>
	<h4>Aqui vai aparecer a seção de upload</h4>
	
	<div class="row">
		<div ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="col-md-10 drop-box" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*'" ngf-drop-available="dropAvailable">
			<div ng-show="dropAvailable">Arraste imagens para </div>
			<div>clique aqui para selecionar</div>
		</div>
	</div>

	<ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
		<li class="sel-file" ng-repeat="f in rejFiles">Arquivo não pode ser enviado: {{f.name}}</li>
	</ul>

	<ul style="clear:both" ng-show="files.length > 0" class="response">
		<li class="sel-file" ng-repeat="f in files">
			<div class="media">
				<div class="media-left">
					<img class="media-object" ng-show="f.type.indexOf('image') > -1" ngf-src="f" class="thumb" ngf-accept="'image/*'">
				</div>
				<div class="media-body">
	
					<p class="media-heading">{{f.name}} - size: {{f.size}}B - type: {{f.type}}</p>

					<span class="progress" ng-show="f.progress >= 0">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
								{{f.progress}}%
							</div>
						</div>
					</span>

					<a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>

					<div ng-show="f.showDetail">
						<div data-ng-show="f.result.result == null">{{f.result}}</div>
						<ul>
							<li ng-repeat="item in f.result.result">
								<div data-ng-show="item.name">file name: {{item.name}}</div>
								<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
								<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
								<div data-ng-show="item.value">value: {{item.value}}</div>
							</li>
						</ul>
						<div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
					</div>
				</div>
			</div>
		</li>
	</ul>

</section>

