body {
	background-image: url("../images/bg.jpg");
	margin: 0em;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	border-radius: 0;
}

article {
	height: inherit;
	width: inherit;
	background: rgba(255, 255, 255, 0.65);
}

section {
	float: right;
	width: 50%;
	padding: 10em 2em 2em 2em;
}

form .field {
	margin: 2em 0 !important;
}

form .submit {
	width: 100%;
	margin: 4em 0 !important;
}